extends layout

block content
    section.span12(data-ng-app="workshops.join", data-ng-controller="JoinController")
        h1 join
        form.form-horizontal(action="/auth", method="POST", name="joinForm", novalidate,
        data-ws-fm-submit="handleSubmit(event)")
            div.control-group(data-ng-class="gotError(joinForm.login)")
                label.control-label(for="inputLogin") Login
                div.controls
                    input.input-medium#inputLogin(type="text", name="login", placeholder="Login", required, maxlength=8,
                    data-ng-model="credentials.login", data-ng-pattern="loginPattern")
                div.controls
                    span.help-block.hide(data-ng-class="notSet(joinForm.login)") login is required
                    span.help-block.hide(data-ng-class="notValidatePattern(joinForm.login)") login is invalid, must begin with a-z character and be at least 4 to 8 characters long
            div.control-group(data-ng-class="gotError(joinForm.password)")
                label.control-label#inputPassword(for="inputPassword") Password
                div.controls
                    input.input-xlarge(type="password", name="password", placeholder="Password", required, maxlength=16,
                    data-ng-model="credentials.password", data-ng-pattern="passwordPattern")
                div.controls
                    span.help-block.hide(data-ng-class="notSet(joinForm.password)") password is required
                    span.help-block.hide(data-ng-class="notValidatePattern(joinForm.password)") password is invalid, can contain a-z 0-9 and !@#$%^.-_ and be of length between 8 and 16 characters
            div.control-group
                div.controls
                    label.checkbox
                        input(type="checkbox", name="agreement", required, data-ng-model="agreed")
                        span
                            strong I agree.
                    button.btn.btn-primary.disabled(type="submit",
                    data-ng-class="{disabled: validateSubmitButton(joinForm)}") Sign in
block static-resources
    script(type="text/javascript", src="/static/js/app/JoinApp.js")
    script(type="text/javascript", src="/static/js/app/controller/JoinController.js")
    script(type="text/javascript", src="/static/js/app/directive/JoinDirective.js")
    script(type="text/javascript", src="/static/js/app/directive/form/Form.js")
    script(type="text/javascript", src="/static/js/app/directive/form/FormSubmit.js")