doctype 5
html(lang="pl")
    head
        title know angularJs :: workshop
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', media=all, href='/static/css/bootstrap.css')
        link(rel='stylesheet', media=all, href='/static/css/bootstrap-responsive.css')
        link(rel='stylesheet', media=all, href='/static/css/jquery-ui/themes/smoothness/jquery-ui.min.css')
        link(rel='stylesheet', media=all, href='/static/css/style.css')
    body
        section.page.row
            block content
        section.footer.row
            section.span6
                h1 shortcuts
                ul.unstyled
                    li: a(href="http://angularjs.org/", title="http://angularjs.org/") go to angularJs web page
                    li: a(href="http://docs.angularjs.org/guide/", title="developers guide") go to developers guide
                    li: a(href="http://docs.angularjs.org/api/", title="api") go to api reference
                    li: a(href="http://jqueryui.com/autocomplete", title="jquery autocomplete") go to jquery autocomplete api reference
                    li: a(href="http://jqueryui.com/datepicker", title="jquery datepicker") go to jquery datepicker api reference
            section.span6
                h1 credits
                p huge thanks to adam, filip, pawel, pawel
        script(type="text/javascript", src="/static/js/jquery/jquery.min.js")
        script(type="text/javascript", src="/static/js/angular/angular.js")
        block static-resources
