extends layout

block content
    section.span12(data-ng-app="workshops.timeline", data-ng-controller="TimelineController")
        h1 User, this is your timeline
        section.row.timeline
            div.span4.active-users(data-ng-controller="UsersController")
                form.form-inline(name="usersForm")
                    div.input-append.input-prepend
                        span.add-on
                            i.icon-search
                        input.span3(type="text", placeholder="Search", data-ng-model="searchText")
                        button.btn(type="submit") Find
                ul.unstyled
                    li(data-ng-repeat="user in users | filter: {login: searchText}")
                        i.icon-user
                        span.active-user
                            strong &nbsp;{{user.login}}
            div.span7.timeline-container
                form.form-inline(name="addMessageForm")
                    div.control-group
                        div.controls
                            textarea.span7(rows="2", data-ng-model="message.message")
                        div.controls.buttons
                            button.btn.btn-primary(type="submit", data-ng-click="post()")
                                i.icon-pencil.icon-white
                                | &nbsp;Post
                ol.unstyled.main-actions
                    li
                        i.icon-plus-sign
                        a.btn.btn-link(href title="create event", data-ng-click="createEvent()")
                            strong create event
                ol.unstyled.timeline(data-ng-repeat="item in wallItems | orderBy:'-created_at'",
                data-ng-switch="item.type")
                    li.message(data-ng-switch-when="message")
                        div.media
                            div.media-body
                                h4.media-heading Message
                                em
                                    small
                                        span.info
                                            span.when {{ item.created_at | date:'short' }}
                                            span.who  by {{ item.author }}
                                p.body {{ item.message }}
                    li.event(data-ng-switch-when="event")
                        div.media
                            div.media-body
                                h4.media-heading {{item.title}}
                                em
                                    small
                                        i.icon-map-marker
                                        span &nbsp;venue {{item.venue}} on {{item.when | date:'shortTime'}}
                                        br
                                        i.icon-tag
                                        span &nbsp;invited:&nbsp;
                                            span {{item.invited | arrayToList}}
                                        br
                                        span.info
                                            span.when public since {{item.created_at | date:'short'}}
                                            span.who  by {{item.author}}
                                p.body {{item.message}}
        div.eventModal(data-ws-dg-modal="eventModal")
            | Create event
block static-resources
    script(type="text/javascript", src="/static/js/jquery/jquery-ui.min.js")
    script(type="text/javascript", src="/static/js/jquery/jquery.ui.datepicker-en-GB.min.js")
    script(type="text/javascript", src="/static/js/restangular/restangular.js")
    script(type="text/javascript", src="/static/js/lodash/lodash.js")
    script(type="text/javascript", src="/static/js/faye/faye-browser.js")
    script(type="text/javascript", src="/static/js/app/TimelineApp.js")
    script(type="text/javascript", src="/static/js/app/controller/TimelineController.js")
    script(type="text/javascript", src="/static/js/app/controller/UsersController.js")
    script(type="text/javascript", src="/static/js/app/service/CurrentUserService.js")
    script(type="text/javascript", src="/static/js/app/service/TimelineService.js")
    script(type="text/javascript", src="/static/js/app/service/LiveTimelineService.js")
    script(type="text/javascript", src="/static/js/app/service/UserService.js")
    script(type="text/javascript", src="/static/js/app/filter/ArrayToListFilter.js")
    script(type="text/javascript", src="/static/js/app/directive/TimelineDirective.js")
    script(type="text/javascript", src="/static/js/app/directive/form/Form.js")
    script(type="text/javascript", src="/static/js/app/directive/form/FormAutocomplete.js")
    script(type="text/javascript", src="/static/js/app/directive/form/FormDatePicker.js")
    script(type="text/javascript", src="/static/js/app/directive/form/FormAutocomplete.js")
    script(type="text/javascript", src="/static/js/app/directive/dialog/Dialog.js")
    script(type="text/javascript", src="/static/js/app/directive/dialog/DialogModal.js")
    script(type="text/javascript", src="/static/js/app/controller/EventModalController.js")
