body {
    padding: 10px 50px 200px 50px;
}
body:after {
    content: "";
    background: url(../../images/AngularJS-large.png) no-repeat 50% 12%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
input.ng-invalid {
    border: 1px dashed red;
}
.active-users {
}
.active-users ul.unstyled {
    margin-left: 5px;
}
.active-users ul.unstyled li a span.active-user,
.active-users ul.unstyled li span.inactive-user {
    padding-left: 10px;
}
.active-users ul.unstyled li span.inactive-user {
    color: #808080;
}
.timeline-container {
    position: relative;
}
.timeline-container form {
    border-bottom: 1px solid #d3d3d3;
}
.timeline-container form div.buttons{
    text-align: right;
    margin-top: 5px;
}
.timeline-container ol.main-actions {
    width: 550px;
    position: absolute;
    top: 55px;
}
.timeline-container ol.main-actions li i {
    margin-top: 2px;
}
.timeline-container ol.main-actions li a {
    padding-left: 3px;
}
.timeline-container ol.timeline li{
    margin-bottom: 10px;
}
.timeline-container ol.timeline li span.info {
    color: #d3d3d3;
}
section.footer {
    position: fixed;
    bottom: 0;
    height: 200px;
    z-index: 1000;
    background: #fff;
}
.ui-autocomplete {
    z-index: 1000000;
}
