form.add-event.form-horizontal(name="addEventForm", novalidate)
    div.control-group(data-ng-class="gotError(addEventForm.title)")
        label.control-label(for="inputTitle") Title
        div.controls
            input.input-xlarge#inputTitle(type="text", name="title", placeholder="event title", required,
            data-ng-model="event.title")
        div.controls
            span.help-block.hide(data-ng-class="notSet(addEventForm.title)") title is required
    div.control-group(data-ng-class="gotError(addEventForm.message)")
        label.control-label(for="inputDescription") Description
        div.controls
            textarea#inputDescription.span3(rows="5", name="message", placeholder="more about the event", required,
            data-ng-model="event.message")
        div.controls
            span.help-block.hide(data-ng-class="notSet(addEventForm.description)") description is required
    div.control-group(data-ng-class="gotError(addEventForm.when)")
        label.control-label(for="inputDate") When
        div.controls
            input.input-medium#inputDate(type="text", name="when", required,
            data-ng-model="event.when", data-ws-fm-datepicker="dd-mm-yy")
        div.controls
            span.help-block.hide(data-ng-class="notSet(addEventForm.when)") event's date is required
    div.control-group(data-ng-class="gotError(addEventForm.venue)")
        label.control-label(for="inputDate") Venue
        div.controls
            input.input-xlarge#inputDate(type="text", name="venue", required, placeholder="event's venue",
            data-ng-model="event.venue")
        div.controls
            span.help-block.hide(data-ng-class="notSet(addEventForm.when)") event's venue is required
    div.control-group.ui-widget(data-ng-class="gotError(addEventForm.invited)")
        label.control-label(for="inputDate") Invited
        div.controls
            input.input-xlarge#inputDate(type="text", name="invited", placeholder="limit invited users",
            data-ng-model="event.invited", data-ws-fm-autocomplete="users")
    div.control-group
        div.controls
            button.btn.btn-primary(type="submit",
            data-ng-click="saveEvent()",
            data-ng-class="{disabled: isEventInvalid(addEventForm)}") Create event
            a.btn.btn-link(data-ng-click="close($event)") close